.main{
	margin-top: 30px;
	margin-bottom: 50px;
	width: 460px;
	display: block;
	margin-left: auto;
	margin-right: auto;
	border: solid 3px #121212;
}

h1{
	font: #121212;
	text-align: center;
}

img{
	display: block;
	width: 380px;
	margin-left: auto;
	margin-right: auto;
	border: solid 3px #121212;
}

input{
	display: block;
	margin-left: auto;
	margin-right: auto;
	border: solid 3px #121212;
	margin-bottom: 10px;
	padding-left: 40px;
	padding-top: 5px;
	padding-bottom: 5px;
	font-size: 14px;
}

button{
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-top: 10px;
	background: #121212;
	border: none;
	padding-left: 76px;
	padding-right: 76px;
	padding-top: 8px;
	padding-bottom: 8px;
	font-size: 14px;
	color: white;
	
}

p{
	display: block;
	width: 380px;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	font-style: italic;
}